# This is a simple haproxy config, to demonstrate a load balancer functionality
# server <name> <address>[:port] [settings ...]

global
  log stdout format raw local0 info

resolvers docker_resolver
  nameserver dns1 127.0.0.11:53
  hold valid 1s

defaults
  mode http
  balance roundrobin
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

listen stats
  bind :7000
  stats uri /

frontend lb_http
  bind :80
  default_backend lb_${LB_UPSTREAM}_backend

backend lb_${LB_UPSTREAM}_backend
  option forwardfor
  server-template ${LB_UPSTREAM} 10 ${LB_UPSTREAM}:80 resolvers docker_resolver check
